import axios from 'axios';
import { load } from 'cheerio';
import type { jsonArticle, jsonArticles as jsonArticles, jsonItem, jsonItems } from "../utils/types.js";

export const scraper = {
    feedName: "Team Fight Tactics", // *mandatory
    feedURL: 'https://teamfighttactics.leagueoflegends.com/fr-fr/news/tags/patch-notes/', // *mandatory
    feedThumbnail: '', // *optional
    feedEmbedColor: '' // *optional
}

export async function getLastArticle(): Promise<jsonArticle | null> {
    const response = await axios.get(scraper.feedURL);
    const responseData = load(response.data);

    const article = responseData('a[data-testid="articlefeaturedcard-component"]').first();
    if (!article.length) {
        console.error('[LOL] Article grid not found');
        return null;
    }

    const articleAttr = article.attr();
    const articleUrl = new URL(articleAttr?.href!, scraper.feedURL).toString() || scraper.feedURL
    const articlePubDate = responseData(article).find('time').attr('datetime') || '';

    const articlePubDateDate = new Date(articlePubDate).getTime();

    const jsonScrapedArticle: jsonArticle = {
        title: articleAttr!['aria-label'] || scraper.feedName,
        url: articleUrl,
        lastState: articleUrl,
        pubDate: articlePubDateDate
    }

    return jsonScrapedArticle;
}

export async function getAllArticle(): Promise<jsonArticles | null> {
    const response = await axios.get(scraper.feedURL);
    const responseData = load(response.data);

    const allArticle = responseData('a[data-testid="articlefeaturedcard-component"]');
    if (!allArticle.length) {
        console.error('[LOL] Article grid not found');
        return null;
    }

    const articleList: jsonArticles = [];

    for (let index = 0; index < allArticle.length; index++) {
        const article = allArticle[index];
        const articleAttribs = article?.attribs;
        const articleTitle = articleAttribs!['aria-label'];
        const articleURL = new URL(articleAttribs?.href!, scraper.feedURL).toString();
        const articlePubDate = responseData(article).find('time').attr('datetime') || '';

        const articlePubDateDate = new Date(articlePubDate).getTime();

        const jsonArticle: jsonArticle = {
            title: articleTitle || scraper.feedName,
            url: articleURL || scraper.feedURL,
            lastState: articleAttribs?.href!,
            pubDate: articlePubDateDate
        }
        articleList.push(jsonArticle);
    }

    return articleList;
}

export async function getLastUpdate(): Promise<jsonItem | null> {
    const response = await axios.get(scraper.feedURL);
    const responseData = load(response.data);

    const article = responseData('a[data-testid="articlefeaturedcard-component"]').first();
    if (!article.length) {
        console.error('[LOL] Article grid not found');
        return null;
    }

    const articleAttr = article.attr();
    const articleURL = new URL(articleAttr?.href!, scraper.feedURL).toString();
    const articleTitle = articleAttr!['aria-label'];

    const itemResponse = await axios.get(articleURL);
    const item = load(itemResponse.data);

    const itemContainer = item('div#patch-notes-container');
    const itemEnclosureUrl = item('a[class="skins cboxElement"]').first().attr('href');
    const itemContent = itemContainer.html() || 'NULL';

    const itemContentSnippet = itemContainer.text().trim();

    const articlePubDate = responseData(article).find('time').attr('datetime') || '';
    const articlePubDateDate = new Date(articlePubDate).getTime();

    const jsonItem: jsonItem = {
        content: itemContent,
        contentSnippet: itemContentSnippet,
        link: articleURL,
        pubDate: articlePubDateDate,
        title: articleTitle || scraper.feedName,
        enclosureUrl: itemEnclosureUrl || '',
        lastState: articleURL
    };

    return jsonItem;
}

export async function getSpecificUpdate(updateName: String): Promise<jsonItem | null> { // A faire
    const response = await axios.get(scraper.feedURL);
    const responseData = load(response.data);

    const article = responseData(`a[aria-label="${updateName}"]`);
    if (!article.length) {
        console.error('[LOL] Article grid not found');
        return null;
    }

    const articleAttr = article.attr();
    const articleURL = new URL(articleAttr?.href!, scraper.feedURL).toString();
    const articleTitle = articleAttr!['aria-label'];

    const itemResponse = await axios.get(articleURL);
    const item = load(itemResponse.data);

    const itemContainer = item('div#patch-notes-container');
    const itemEnclosureUrl = item('a[class="skins cboxElement"]').first().attr('href');
    const itemContent = itemContainer.html() || 'NULL';

    const itemContentSnippet = itemContainer.text().trim();

    const articlePubDate = responseData(article).find('time').attr('datetime') || '';
    const articlePubDateDate = new Date(articlePubDate).getTime();

    const jsonItem: jsonItem = {
        content: itemContent,
        contentSnippet: itemContentSnippet,
        link: articleURL,
        pubDate: articlePubDateDate,
        title: articleTitle || scraper.feedName,
        enclosureUrl: itemEnclosureUrl || '',
        lastState: articleURL
    };

    return jsonItem;
}